body{
    background: url(../images/pexels-photo.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#clock {

}

h1 {
    font-size: 40px;
    width: 85%;
    margin: 0 auto;
    color: #D91E18;
    position: relative;
    top: 15%;
}

.is-countdown {
    background-color: black;
    opacity: .7;
    border: none;
    position: relative;
    top: 150px;
    height: 270px;
    width: 100%;
}

.countdown-amount {
    font-size: 180px;
    color: #b1b1b1;
}

.countdown-period {
    color: #D91E18;
    font-size: 24px;
}

