
/*Big Tablets and small computers: 1024 <= width <= 1200px*/
@media only screen and (max-width: 1200px) {
    #welcome-text {
        width: 100%;
    }


    /*.heroTextBox {
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }*/
}

/*Small Tablets to Big Tablets: 768 <= width <= 1023px*/
@media only screen and (max-width: 1023px) {

    #user-info, #author-info{
        width: 48%;
        margin: 0;
    }

    #why-col-contain {
        width: 98%;
    }

    .why-col {
        float: left;
        width: 45%;
        margin: 0 2.5%;
    }

    .why-col i {
        left: 45%;
    }

    .why-col .copy {
        padding: 0 5px;
        text-align: center;
    }

    #left-contain, #right-contain {
        float: left;

    }

    #left-contain {
        margin-bottom: 20px;
    }



    /*body {font-size: 18px;}
    section {padding: 60px 0;}

    .longCopy {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .stepBox {margin-top: 10px;}
    .stepBox:last-child {margin-top: 10px;}
    .howStep {margin-bottom: 30px;}
    .howStep:last-of-type {margin-bottom: 60px};

    .appScreen {width: 50%;}
    .buttonApp img {height: 40px;}

    .cities span{
        width: 17px;
        margin-right: 10px;
    }

    .cityFeature {font-size: 80%;}

    .box h3 {
        font-size: 90%;
        font-weight: 300;
    ;}

    .planBox {
        width: 100%;
        margin: 0px;
    }

    .planPrice {font-size: 225%;}
    .planPerMeal {
        font-size: 80%;
        font-weight: 300;
    }

    blockquote {word-spacing: 1px;}

    .sectionContact {
        width: 80%;
    }

    .planBox div {padding: 5px;}

    .planBox div:first-child {padding: 15px;}*/

}

/*Small phones to Small Tablets: 481 <= width <= 767px.  Bigger than a small phone but smaller than an iPad*/
@media only screen and (max-width: 767px) {

    /*body {font-size: 16px;}
    section {padding: 30px 0;}
    .row, .heroTextBox {padding: 0 4%;}

    .howStep div {
        font-size: 120%;
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }
    /*The reason your planbox columns are misaligned is because of the margins of the col class from the grid.css file. Only place you want margin is on the bottom once screen is this narrow
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    #mainNav {display: none;}

    .longCopy {
        width: 100%;
        margin: 0%;
    }

    h1 {font-size: 180%;}
    h2 {font-size: 150%;}

    .howStep {
        margin-bottom: 25px;
        font-size: 90%;
    }

    .howStep:last-of-type {margin-bottom: 30px};
    .howStep div {
        font-size: 120%;
        height: 40px;
        width: 40px;
        margin-right: 15px;

    }

    .howStep p {
        word-spacing: 0px;
    }

    .stepBox:first-child {text-align: center;}
    .appScreen {
        width: 30%;
    }

    .cities .box {
        text-align: center;
    }

    .cities .box img {
        width: 70%;
        margin-bottom: 5px;
    }

    .cityFeature {
        display: inline-block;
        margin-right: 15px;
        font-size: 100%;
    }


    .sectionContact {
        width: 90%;
    }*/

}

/*Small phones: 0 <= width <= 480px*/
@media only screen and (max-width: 480px) {
    /*section {padding: 25px 0;}
    .sectionContact {width: 100%;}

    .cityFeature {
        display: block;
    }*/
}
