/*
*
*Red Theme: #D91E18
*
*******************************/
/***********PAGE SETUP**********/
/*******************************/

body {
    box-sizing: border-box;
    font-family: 'Raleway', 'Tahoma', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

/***********REUSABLES**********/

.row {
    max-width: 960px;
    margin: 40px auto;
}

section {
    padding: 40px 0;
}

h1 {
    font-size: 350%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    font-size: 230%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

h2:after {
    content: "";
    height: 2px;
    width: 15%;
    border-bottom: 2px solid #D91E18;
    display: block;
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 170%;
    text-align: center;
    margin: 20px 0;
}

strong {
    font-weight: 700;
}

.copy {
    margin: 10px auto;
    line-height: 150%;
    word-spacing: 2px;
}

.subtitle {
    text-align: center;
    margin-top: 15px;
}

.highlight {
    color: #D91E18;
    font-size: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************/
/************HEADER*************/
/*******************************/

header {
    background-image: url("../images/header-image.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/**************NAV**************/



/************WELCOME-TEXT*********/

#welcome-text h1{
    position: absolute;
    width: 1140px;
    text-align: left;
    top: 30%;
    left: 10%;
    color: #eee;
}

/*******************************/
/***********WHO SECITON*********/
/*******************************/

#who-container {
    /*border: 2px solid #D91e18;*/
}

#user-info, #author-info {
    width: 40%;
}

#user-info {
    float: left;
    margin-left: 50px;
}

#author-info {
    float: right;
    margin-right: 50px;
}

#author-info .copy, #user-info .copy {
    width: 70%;
}

#author-pic {
    float: left;
    width: 40%;
    margin-right: 10px;
    border-radius: 5px;
}

/*******************************/
/***********WHY SECITON*********/
/*******************************/

#why-container {
    background: #e6e6e6;
}

/***********WHY COLS*************/

.why-col {
    width: 24%;
    float: left;
    margin: 0 .5%;
}

.why-col .copy {
    word-spacing: 2px;
}

.why-col i {
    color: #D91E18;
    font-size: 320%;
    text-align: center;
    position: relative;
    left: 90px;
}

/*******************************/
/**********REVIEW SECITON*******/
/*******************************/

#review-container {
    background-color: #ABB7B7;
}

.my-slider ul {
    text-align: center;
}

.my-slider blockquote {
    width: 70%;
    font-size: 200%;
    margin: 0 auto;
    line-height: 1.5em;
    word-spacing: 3px;
}

.my-slider blockquote:before {
    font-size: 200%;
    color: #D91E18;
    content: "\201C";
}

.my-slider blockquote:after {
    font-size: 200%;
    color: #D91E18;
    content: "\201D";
}

.my-slider div img {
    width: 80px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

.my-slider div cite {
    font-weight: 400;
    font-size: 120%;
    font-style: italic;
}


/*******************************/
/**********HIT THE ROAD SECITON*******/
/*******************************/

#getstarted-container {
    background: url(../images/roadtrip.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#getstarted-container .row {
    margin-top: 150px;
}

#getstarted-container h2 {
    font-size: 450%;
    color: white;
}

#getstarted-container a:link, #getstarted-container a:visited{
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 210px;
    /*background-color: #D91E18;*/
    border: 1px solid #D91E18;
    color: #D91E18;
    font-size: 150%;
    font-weight: 700;
    padding: 20px 0;
    margin-top: 40px;
    -webkit-transition: background-color, .2s;
    transition: background-color, .2s;
}

#getstarted-container a:active, #getstarted-container a:hover {
    background-color: #D91E18;
    color: inherit;
    -webkit-transition: background-color, .2s;
    transition: background-color, .2s;
}




























































